.variant-section {
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    /* margin-bottom: 100px; */
  }
   .variant-section h2 {
    margin-top: 6vh;
    margin-bottom: 3vh;
    font-size: 32px;
    font-weight: 600;
  }
  .variant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18vh, 1fr));
    gap: 10px;
  }
  
  .variant-btn {
    background-color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 18vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  
  .btn-create {
    background-color: #01B4BC;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 2vh;
    min-width: 30%;
    height: 7vh;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
  }
  .btn-create:hover {
    background-color: white;
    color: #01B4BC;
  }