header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #25274D;
    color: white;
    font-family: 'Gill Sans';
  }
  
  .header-left h1 {
    font-weight: 100;
    color: #01B4BC;
    font-size: 32;
    /* margin-left: 1.5vw; */
    margin: 0;
    user-select: none;
    margin-left: 10vh;
  }
  
  .header-left p {
    font-weight: 600;
    color: #01B4BC;
    font-size: 14;
    /* margin-left: 2vw; */
    margin-top: 0;
    user-select: none;
    margin-left: 10vh;
  }

  .header-right {
    margin-right: 10vh;
  }

  .grey-btn {
    background-color: #EDEDED;
    padding: 0px;
    margin-left: 10px;
    height: 30px;
    width: 165px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn {
    background-color: #01B4BC;
    color: white;
    /* padding: 10px 15px; */
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
