header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #25274D;
    color: white;
    font-family: 'Gill Sans';
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  .logo {
    font-size: 36px;
    font-weight: 600;
  }

  .logo-link {
    text-decoration: none;
  }
  
  .part1 {
    color: white;
  }
  
  .part2 {
    color: #01B4BC;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header-right-content {
    display: flex;
  }

  .checks {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  width: 20vh;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  /* margin-top: 1vh; */
  margin-bottom: 1vh;
}

  .header-right {
    margin-right: 10vh;
  }

  .header-left {
    margin-left: 10vh;
  }

  .btn {
    background-color: #01B4BC;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .link {
    color: white;
    cursor: pointer;
    margin-left: 3vh;
    height: 30px;
    width: 100px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: end;
  }
  
  .active-link {
    color: white;
    cursor: pointer;
    margin-left: 3vh;
    height: 30px;
    width: 100px;
    border: none;
    font-size: 18px;
    text-align: end;
  }

  .grey-btn {
    background-color: #EDEDED;
    padding: 0px;
    margin-left: 10px;
    height: 30px;
    width: 165px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .reg-btn {
    background-color: white;
    color: #01B4BC;
    /* padding: 10px 15px; */
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }