.login-body {
    font-family: Arial, sans-serif;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 40vw;
    height: 30vh;
    margin-bottom: 20vh;
  }

  .input-group {
    display: flex; /* Устанавливаем контейнер для инпута и кнопки */
    justify-content: center;
    align-items: center;
    gap: 5px; /* Отступ между инпутом и кнопкой */
  }
  
  .reg-group {
    display: flex; /* Устанавливаем контейнер для инпута и кнопки */
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }

  .input-group p {
    display: flex;
    justify-content: flex-start; 
  }

  .login-container input[type="email"]:focus {
    outline: none;
    border: 1px solid black;
    background-color: white;
  }

  .login-container input[type="email"] {
    width: 100%;
    padding: 1.75vh;
    margin: 2vh 0;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: #EDEDED;
    transition: background-color 0.2s ease; /* Плавный переход для изменения цвета */
  }
  
  .back-link {
    color: #01B4BC;
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 20px;
  }

  .back-link-reg {
    color: #000;
    display: flex;
    justify-content: flex-start; 
  }

  .back-link-reg:hover {
      color: #01B4BC;
  }
  
  .login-container h1 {
    color: #000;
    margin-bottom: 4vh;
    font-size: 32px;
    font-weight: 600;
  }

  .login-container .login-button {
    width: 30%;
    padding: 1.75vh;
    background-color: #01B4BC;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }
  
  .login-container .message {
    margin-top: 10px;
    color: red;
    /* display: flex;
    justify-content: flex-end;  */
  }
